/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
....../* End Established CSS Reset */

/* General Styles per Brit Hemming */
    html{
        font-size:62.5%;
    }
    
    body {
        font-size: 1.6rem;
        line-height: 1.5;
        /* font-family: 'Roboto Mono', monospace; */
        text-align: center;
        /* color: #4f4f4f; */
        margin: 10px;
    }
    
    span {
        font-weight: bold;
    }
    
    section{
        padding:1% 0;
    }
    
/* End General Styles */

/* Applies to both pages */
    p {
        font-size: 16px;
        }

    /* removing underline link in header and buttons */
    a {
        text-decoration: none;
    }
    /* Navigation Bar */
    .topcontainer {
        border: black solid 5px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1%;
        padding: 1%;
        width: 100%;
    }

    .logo {
        min-width: 25%;
        display: flex;
        align-content: center;
        justify-content:left;
        border: green 5px solid;
    }

    .headerlinks {
        display: flex;
        min-width: 75%;
        border: gold 5px solid;
        align-items: flex-end;
        justify-content: space-around;

    }

    nav a {
        padding: 0 2%;
        align-content: center;
        vertical-align: text-bottom;
        font-size: 16px;
    }
    /* End Navigation Bar */

    /* Footer */
    footer {
        width: 100%;
        background: black;
    }
    
    footer nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2%;
        font-size: 14px;
    }
    
    footer nav a {
        color: white;
        text-decoration: none;
    }
.container {
    width: 800px;
    margin: 0 auto;
    /* border: 5px green solid; */
}
/* Home Page */

    .top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }

    .top-content .text-container {
        width: 48%;
        padding: 0 1%;
        padding-bottom: 20px;  
    }

    .middle-content {
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }

    .middle-content h2 {
        padding: 0 2%;
        margin-bottom: 0;
    }

    .middle-content .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .middle-content .boxes [class^="box"]{
        width: 12.5%;
        height: 100px;
        background: black;
        margin: 20px 2.5%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-content {
        display: flex;
        margin: 0 2% 20px;
        justify-content: space-around;
    }

    .bottom-content .text-container {
        padding-right: 4%;
    }

    .bottom-content .text-container:last-child {
        padding-right: 0;
    }

    /* Editing the Future and Past Section */

    .text-container, .middle-content {
        text-align: left;
    }

    /*Adding colors from the Readme file */

    .middle-content .boxes .box1 {
        background-color: teal;
    }

    .middle-content .boxes .box2 {
        background-color: gold;
    }

    .middle-content .boxes .box3 {
        background-color: cadetblue;
    }

    .middle-content .boxes .box4 {
        background-color: coral;
    }

    .middle-content .boxes .box5 {
        background-color: crimson;
    }

    .middle-content .boxes .box6 {
        background-color: forestgreen;
    }

    .middle-content .boxes .box7 {
        background-color: darkorchid;
    }

    .middle-content .boxes .box8 {
        background-color: hotpink;
    }

    .middle-content .boxes .box9 {
        background-color: indigo;
    }

    .middle-content .boxes .box10 {
        background-color: dodgerblue;
    }
/* End Home Page */

/* About Page */
.container-about-page {
    width: 800px;
    margin: 0 auto;
    /* border: blue 2px solid; */
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.about-header {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    margin-left: 2%;
    margin-right: 2%;
}

.four-panels {
    display: flex;
    flex-wrap: wrap;
    /* border: gold 3px solid; */
    /* padding: 1%; */
    justify-content: space-around;
}

.four-panels a {
    border: black 1px solid;
    width:fit-content;
    padding: 1% 5%;
    border-radius: 10px;
    margin: 5% 0;
    text-decoration: none;
    font-size: 16px;
}

.about-one, .about-two, .about-three, .about-four {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
    width: 45%;
    margin-bottom: 1%;
}

.four-panels img {
    margin-bottom: 3%;
}

/* Editing margins on Let's Work Together */

.work-together {
    padding: 3%;
}